* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0.5em;
  font-family: arial, sans-serif;
}

h3 {
  color: rgba(255, 255, 255, 0.882);
  line-height: 1.3;
  text-align: center;
  margin-block: 1rem;
}

.container {
  width: 500px;
}

.textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 1em;
  margin-block: 1rem;
}

.textarea:focus {
  outline: 2px solid gold;
}

.tag {
  background-color: #f0932b;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #273c75;
}
